@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
background-color: rgb(164, 196, 223);
}  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .interactive-button {
    background-color: #007bff; /* Button background color */
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .interactive-button a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .interactive-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
  }
  
  .interactive-button:active {
    background-color: #003d7a; /* Even darker shade on click */
  }
  